.weather-banner {
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.344);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: Arial, sans-serif;
  width: 40%;
}

.weather-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-header h3 {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
}

.weather-header p {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  text-transform: capitalize;
}

.weather-details p {
  margin: 0.2em 0;
  font-size: 0.95em;
  color: #ffffff;
  line-height: 1.5;
}

.weather-details strong {
  color: #ffffff;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}
