.card {
  margin: 20px auto;
  padding: 20px;
  background-color: #2c2c34;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
}

.card-header h2 {
  font-size: 1.5rem;
  color: #66c2ff;
}

.card-header p {
  font-size: 0.9rem;
  color: #b0b0b5;
}

.card-image img {
  width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.card-content p {
  font-size: 0.95rem;
  color: #d4d4dc;
  line-height: 1.5;
}

.space-photo-button {
  /* align button center */
  display: block;
  margin: 0 auto;
}

.loading {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading-bar {
  height: 10px;
  background-color: #444;
  border-radius: 4px;
}

.loading-bar.short {
  width: 50%;
}

.loading-bar.medium {
  width: 75%;
}

.loading-bar {
  width: 100%;
}
