/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ffffff;
  line-height: 1.6;
}

/* App Container */
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

/* Main Layout */
main {
  display: flex;
  flex-direction: column;
}

.weather-and-space {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 1em;
}
.incidents-map-container {
  display: flex;
  overflow: hidden;
  height: 80vh;
  border-top: 1px solid #4a0a0a;
  border-bottom: 1px solid #4a0a0a;
}

/* Map View */
.map-view {
  width: 70%;
  height: 80vh;
  position: relative;
}

.response-lists {
  display: flex;
  justify-content: space-between;
}

.earthquake-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #2c2c34;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 30em;
  overflow-y: auto;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Smaller padding */
  font-size: 0.9em;
  height: 40px; /* Fixed height */
  line-height: 40px; /* Center align text vertically */
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

/* alternae colors in tables */
tr:nth-child(even) {
  /* background-color: #d8f5df; */
}

/* earthquake data */
.timeframe-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 1200px) {
  .map-view {
    width: 60%;
  }

  .response-lists {
    flex-direction: column;
  }
}
/* page breakpoints */
@media (max-width: 768px) {
  #root {
    height: auto;
    width: 100vw;
  }
  #body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .map-view {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 480px) {
}
